/* ===============================
   Global Styles    
================================*/
html {
	background-color: #EDF2C5;
	box-sizing: border-box;
	font-size: 87%;
	height: 1024px;
    width: 1440px;

}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #EDF2C5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Page container */
.page-container {
    width: 80%;
    max-width: 1120px;
    margin: 0 auto;
    flex: 1;
}

/* ===============================
   Header Section
================================*/
.site-header {
    color: #778A50;
    padding-top: 20px;
}

/* Header top: title + social buttons */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    font-size: 44px;
    font-weight: 900;
    margin: 0;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    width: 21px;
    height: 21px;
}

.vertical-divider {
    width: 1px;              
    height: 21px;            
    background-color: #778A50;   
}

.btn {
    font-size: 16px;
    font-weight: 550;
    padding: 2px 8px;
    cursor: pointer;
}

.btn-outline {
    border: 1px solid #778A50;
    background: transparent;
    color: #778A50;
    border-radius: 3px;
}

/* Navigation Bar */
.nav-bar {
    background-color: #778A50;
    margin-top: 10px;
    height: 44px;
    width: 1120px;
    border-radius: 3px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-right: 30px;
    padding: 0 ;
    font-size: 16px;
}

.nav-item {
    margin-right: 20px;
    text-align: center;
    width: 110px;
}

.nav-link {
    display: block;
    color: #EDF2C5;
    text-decoration: none;
    padding: 10px 0;
    font-weight: 700;
}

.nav-link:hover {
    background-color: #617140;
    padding: auto;
}

/* ===============================
   Main Banner
================================*/
.main-banner {
    margin-top: 20px;
    border-radius: 3px;
}

.banner-img {
    width: 100%;
    display: block;
    margin-bottom: 30px;
}

/* ===============================
   Content Section
================================*/
.content-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

/* Left: Vegetables */
.vegetables-box {
    flex: 1;
    margin-right: 20px;
}

.section-title {
    background-color: #778A50;
    border-radius: 3px;
    color: #EDF2C5;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 15px;
    padding-left: 30px;
    
}

/* Gallery without background */
.veg-gallery {
    display: flex;
    margin-top: 15px;
    gap: 15px;
    justify-content: space-between;
}

.veg-img {
    width: 32%;
    height: auto;
    border: none;
}

/* Right: Contact box */
.contact-box {
    flex: 1;
    margin-left: 20px;
    margin-bottom: 120px;
}

.contact-box .section-title {
    background-color: #778A50;
    border-radius: 3px;
    color: #EDF2C5;
    font-size: 16px;
    font-weight: 700;
    padding: 12px 15px;
    padding-left: 30px;
}

/* Contact content white box */
.contact-content {
    margin-top: 15px;
    background-color: #F7FBDA; 
    padding: 18px;
    font-size: 12px;
    line-height: 1.6;

}

.contact-text {
    margin: 0 0 5px 0;
    color: #7d7d7d;
}

.contact-content hr {
    border: none;
    border-top: 1px solid #B9C28A;
    margin: 5px 0;
}

.contact-info {
    margin: 0;
    color: #7d7d7d;
    font-size: 12px;
}


/* ===============================
   Footer
================================*/
.site-footer {
    background-color: #778A50;
    height: 60px;
    color: #EDF2C5;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-bottom: auto;
}
